DATABASE_URL=postgresql://postgres.jrilfanrmyuyexyslxrr:Cookizzy123456!@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
JWT_SECRET=maSuperCleSecretePourMonApplication123!
JWT_EXPIRE=30d
NODE_ENV=development